node-red/.flows.json.backup
[{"id":"24c91d87c9515f9f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5e1cd0c6.17c7c","type":"server","name":"Home Assistant","addon":true},{"id":"ea64d2e576d6c0b6","type":"mqtt-broker","name":"","broker":"raspi481.sanberlin.com","port":"1884","clientid":"raspi481","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"5d5e01f0b8e4c0d8","type":"debug","z":"24c91d87c9515f9f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1240,"wires":[]},{"id":"84a0dbf2d9cdb6e7","type":"CPUs","z":"24c91d87c9515f9f","name":"","x":650,"y":1240,"wires":[["5d5e01f0b8e4c0d8","7d4b7f32b93dde4e","c30bec142851f0d0","5fe18003e89ae01a"]]},{"id":"529ebe4d4a5bdbd5","type":"inject","z":"24c91d87c9515f9f","name":"10 Minuten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["64cfc114a2820696"]]},{"id":"3fbf634e15256fc5","type":"Drives","z":"24c91d87c9515f9f","name":"","x":650,"y":1120,"wires":[["8494f310f6eb41e5"]]},{"id":"8494f310f6eb41e5","type":"debug","z":"24c91d87c9515f9f","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1120,"wires":[]},{"id":"64cfc114a2820696","type":"Memory","z":"24c91d87c9515f9f","name":"","scale":"Byte","x":400,"y":180,"wires":[["5a3d50b4e48ce411","12388d404ebd10b0"]]},{"id":"09a819e938ca2c87","type":"debug","z":"24c91d87c9515f9f","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":140,"wires":[]},{"id":"f2a7b3b23f6bba2d","type":"mqtt out","z":"24c91d87c9515f9f","name":"","topic":"raspi481/ram_memusage","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ea64d2e576d6c0b6","x":970,"y":180,"wires":[]},{"id":"5a3d50b4e48ce411","type":"function","z":"24c91d87c9515f9f","name":"ram_memusage","func":"msg = { payload: msg.payload.memusage, topic: 'raspi481/ram_memusage' };\n// msg = msg.payload.memusage;\n// node.log(\"info\");\n// payload.memusage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":180,"wires":[["09a819e938ca2c87","f2a7b3b23f6bba2d","dc0b6b334311958f"]]},{"id":"ad858dd8c78bc186","type":"inject","z":"24c91d87c9515f9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":1240,"wires":[["3fbf634e15256fc5","aa24c7a2d30fa4d0","e7070501f895ac47","84a0dbf2d9cdb6e7","0e3c8733d450d033","ea49d6e4a9f1e7ba"]]},{"id":"aa24c7a2d30fa4d0","type":"OS","z":"24c91d87c9515f9f","name":"","x":650,"y":1080,"wires":[["cd2aba118410f224"]]},{"id":"e7070501f895ac47","type":"Uptime","z":"24c91d87c9515f9f","name":"","x":660,"y":1160,"wires":[["781032b32cca3688"]]},{"id":"0e3c8733d450d033","type":"Loadavg","z":"24c91d87c9515f9f","name":"","x":660,"y":1300,"wires":[["a37dc15e38dc6d21"]]},{"id":"ea49d6e4a9f1e7ba","type":"NetworkIntf","z":"24c91d87c9515f9f","name":"","x":670,"y":1340,"wires":[["0ce6421713a6ba02"]]},{"id":"cd2aba118410f224","type":"debug","z":"24c91d87c9515f9f","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1060,"wires":[]},{"id":"781032b32cca3688","type":"debug","z":"24c91d87c9515f9f","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1180,"wires":[]},{"id":"a37dc15e38dc6d21","type":"debug","z":"24c91d87c9515f9f","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":815,"y":1307,"wires":[]},{"id":"0ce6421713a6ba02","type":"debug","z":"24c91d87c9515f9f","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1360,"wires":[]},{"id":"7d4b7f32b93dde4e","type":"debug","z":"24c91d87c9515f9f","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cpus[0].times.user","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":1320,"wires":[]},{"id":"c30bec142851f0d0","type":"debug","z":"24c91d87c9515f9f","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cpus[0].times.sys","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":1380,"wires":[]},{"id":"5fe18003e89ae01a","type":"function","z":"24c91d87c9515f9f","name":"ram_memusage","func":"msg = { paylod: msg.payload, topic: `raspi421/ram_memusage` };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1200,"wires":[[]]},{"id":"12388d404ebd10b0","type":"debug","z":"24c91d87c9515f9f","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"dc0b6b334311958f","type":"debug","z":"24c91d87c9515f9f","name":"debug 14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":80,"wires":[]}]